.friend-recomended {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 15px;
}
.profile {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  vertical-align: top;
}

.user-profile {
  width: 100%;
  height: 200px;
  object-fit: cover;
  vertical-align: top;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-right: 5px;
  cursor: pointer;
}
.mutual-pict {
  border-radius: 14px;
  width: 28px;
  height: 28px;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 4px;
}
.mutual-friends-row {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  margin-left: 8px;
  margin-right: 10px;
}
.mutual-friends {
  color: grey;
  cursor: pointer;
}
.add-friend {
  font-size: 14px;
  background-color: rgb(0, 125, 200);
  border-radius: 3px;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
