@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    /*background-color: lightgray;*/
    width: 100%;
    padding: 25px;
    border-bottom: 2px solid #e3e3e3;
}

nav a {
    text-decoration: none;
    color: #929292;
    margin: 0 20px;
}

nav a:hover {
    color: black;
}

nav a.active {
    color: black;
}

header {
    padding-top: calc(50px + 1rem + 2px);
}

h1 {
    margin-top: 100px;
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 1.2em;
}

h1 + p {
    width: 800px;
    margin: 35px auto;
}

#cta-button {
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to right, #D786FF, #722CFF);
    color: white;
    display: inline-block;
    padding: 1em 3em;
    font-weight: 600;
    border-radius: 1000px;
    transition: 150ms ease;
}

#cta-button:hover {
    scale: 1.1;
}

.video-Player {
    margin-top: 30px;
    width: min(1100px, 100%);
    aspect-ratio: 16 / 9;
    border-radius: 15px;
}

.products-container {
    margin-top: 30px;
}

.item {
    box-sizing: border-box;
    /*background-color: grey;*/
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 0 20px;
    margin-bottom: 20px;
    align-content: center;
    padding: 20px;
    border-radius: 30px;
}

.item > h2 {
    margin-bottom: 10px;
}

.item:nth-child(1) {
    border: 1px solid black;
}

.item:nth-child(2) {
    background-color: #7932ff;
    color: white;
}

.item:nth-child(3) {
    background-color: black;
    color: white;
}

form {
    margin-top: 30px;
}

input {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    font: inherit;
    border-radius: 30px;
}

input[type=text], input[type=password] {
    padding: 5px 20px;
    width: 400px;
    height: 50px;
    border: none;
    background-color: #EBEDF5;
}

input[type=submit] {
    width: 200px;
    padding: 10px;
    background-color: #0071ff;
    color: white;
    font-weight: 600;
    border: none;
}