* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 800px;
    border: 8px solid black;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 250px 250px 250px 250px;
    grid-template-areas:
    "box-1 box-2 box-3 box-4"
    "box-1 box-5 box-5 box-4"
    "box-6 box-5 box-5 box-7"
    "box-8 box-8 box-9 box-7";
    gap: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0071ff;
    font-size: 40pt;
}
